.checkout-item {
    width: 100%;
    display: flex;
    min-height: 100px;
    border-bottom: 1px solid darkgrey;
    padding: 15px 0;
    font-size: 20px;
    align-items: center;
}
.checkout-item .image-container {
    width: 20%;
    padding-right: 15px;
}
.checkout-item .image-container img {
    width: 100%;
    height: 100%;
}
.checkout-item .name, .checkout-item .quantity, .checkout-item .price {
    width: 23%;
    padding-left: 45px;
}
.checkout-item .quantity {
    display: flex;
}
.checkout-item .quantity .arrow {
    cursor: pointer;
}
.checkout-item .quantity .value {
    margin: 0 10px;
}
.checkout-item .remove-button {
   
    cursor: pointer;
    width: 20px;
}
.checkout-item .remove-button .button{
    min-width: 183px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 5px 0 5px;
    font-size: 12px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 830px){
    .checkout-item .remove-button .button{
        min-width: 127px;
        font-size: 10px;
    } 
}
@media only screen and (max-width: 550px){
    .checkout-item .image-container {
        width: 15%;
        padding-right: 15px;
    }
    .checkout-item .name, .checkout-item .quantity, .checkout-item .price {
        width: 23%;
        padding-left: 35px;
        font-size: small;
    }
    .checkout-item .remove-button .button{
        min-width: 105px;
        font-size: 8px;
    } 
}
