.collection-item {
    width: 22%;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    position: relative;
}
.collection-item .image {
    width: 100%;
    height: 83%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
}
.collection-item .custom-button {
    width: 82%;
    opacity: 0.7;
    position: absolute;
    top: 230px;
    display: none;
    font-size: small;
}
.collection-item:hover .image {
    opacity: 0.8;
}
.collection-item:hover .custom-button {
    opacity: 0.85;
    display: flex;
}
.collection-item .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.collection-item .collection-footer .rupee{
    margin-top: 2px;
}
.collection-item .collection-footer .name {
    width: 99%;
    margin-bottom: 15px;
    font-size: medium;
}
.collection-item .collection-footer .price {
    width: 57%;
    display: flex;
    font-size: medium;
}

@media screen and (max-width: 800px){
    .collection-item{
        width: 100%;
    }
    .collection-item:hover .image {
        opacity: unset;
    }
    .collection-item:hover .custom-button {
        opacity: unset;
    }
    .collection-item .custom-button {
        min-width: unset;
        opacity: 0.9;
        display: block;
        padding: 0 10px;
    }
    .collection-item .collection-footer .name{
        font-size: small;
        margin-top:2px;
        margin-left: -15px;
    }

}