.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    align-items: center;
}
.collection-preview .title {
    font-size: 28px;
    margin-bottom: 25px;
    margin-left: -771px;
}
.collection-preview .preview {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
@media screen and (max-width: 800px) {
    .collection-preview{
    align-items: center;
    }
    .collection-preview .preview{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
      }
      .collection-preview .title {
        margin-left: 0px;
    }
}
@media screen and (max-width: 375px){
    .collection-preview .preview{
        width: 95%;
    }
}