body{
    margin-top: 0px;
    clear: both;
}
.navbar{
    background-color: brown;
    position: sticky;

    display: flex;
    top: 0px;
    z-index: 100;
    align-items: center;
    height: 100px; 
    width: 100%;  
}


.navbar-logo{
    height: 50%;
    margin-right: 10px;
    margin-left: 40px;
}
@media only screen and (max-width: 1000px){
    .navbar-logo{
        margin-left: 5px;
    }
}
.name{
    margin-right: 18px;
    width: 170px;
    text-align: center;
    margin-left: -31px;
}

.nav-search{
    
    height: 29px;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    display: flex;
}
.search-icon{
    background-color: orange;  
}
.nav-search-input{
    width: 100%;
    align-items: center;
    height: 24.6px;
}
.nav-header{
    width: 30%;
    margin-left: 76px;
    display: flex;
    align-items: center;
}
.nav-options-l{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.nav-options-r{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    align-items: center;
    font-size: large;
}


.nav-option-2{
    margin-right: 10px;
}
.cart-count{
    float: left;
    height: 30px;

}
.cart-count span{
    height: 10px;
}
.nav-options-l a{
    text-decoration: none;
    color: black;
}
:link{
    text-decoration: none;
}
.option {
    padding: 10px 15px;
    cursor: pointer;
}
.shop{
    margin-left: 27px;
}
@media only screen and (max-width: 1000px){
    .nav-header{
        margin-left: 10px;
        font-size: medium;
    }
    .nav-options-l{
        font-size: small;
    }
    .shop{
        margin-left: 5px;
        font-size: medium;
    }
    .nav-options-r{
        margin-left: 5px;
        font-size: medium;
    }
}
@media only screen and (max-width: 750px)
{
    .nav-search{
        display: none;
    }
    .nav-header{
        margin-left: 0px;
    }
    .nav-options-r{
        display: flex;
        flex-direction: column;
        margin-left: 24px;
        align-items: center;
        font-size: large;
    }
    .nav-options-l{
        width: 145px;
        font-size: 14;
        
    }
    .nav-option-l{
        width: 70px;
    }
    .shop{
        margin-left: 5px;
        font-size: 14px;
    }
    .nav-options-r{
        margin-left: 5px;
        font-size: 14px;
    }
}
@media only screen and (max-width: 410px){
   .name{
    margin-right: 4px;
    width: 134px;
    font-size: 12px;
    margin-top: -10px;
   }
   .gc-logo{
       width: 32px;
   }
   .navbar-logo{
    margin-left: 2px;
   }
   .nav-options-l{
    width: 145px;
    font-size: 14;
    
}
  .nav-option-1{
      font-size: 12px;
  }

.shop{
    margin-left: 5px;
    font-size: 12px;
}
.nav-options-r{
    margin-left: 5px;
    font-size: 12px;
}
}

