.sign-in-and-sign-up {
    width: 850px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
@media only screen and (max-width: 879px){
    .sign-in-and-sign-up{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 315px;
    }
}