.sign-up {
    display: flex;
    flex-direction: column;
    width: 315px;
}
.sign-up .title {
    margin: 10px 0;
}
.custom-button :hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}